html {
    padding: 40px;
    height: 100%;
}

body {
    background-color: #77A;
    overflow: hidden;
}

#containerCanvas {
    
    /* border-radius: 25px; */
    height: 100%;
    width: 100%; 
    background-color: #445899;
}

/* 
#innerDIV {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    } */
    
#canvasMain {
    position: absolute;
    z-index: 10;
    background-color: #EEEEEE;
    outline: 2px solid #333; 
    outline-offset: -2px;
    /* padding: 0px; */
}