html {
    height: 100%;
}

body {
    /* margin: 0; */
    overflow: hidden;
}

#containerCanvas {
    height: 100%;
    width: 100%;
    background-color: #445899;
}

/* 
#innerDIV {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
   
} */

#canvasMain {
    z-index: 10;
    background-color: #EEEEEE;
    outline: 2px solid #333; 
    outline-offset: -2px;
    /* padding: 0px; */
}