html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    overflow: hidden;
}

#containerCanvas {
    height: 100%;
    width: 100%;
    position: absolute; 
     background-color: #445899;
}

/* 
#innerDIV {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
   
} */

#canvasMain {
    position: absolute;
    padding: 0;
    margin: 0 auto;
    z-index: 10;
    box-sizing: border-box;
    background-color: #CCCCCC;
    outline: 2px solid #999999; 
    outline-offset: -2px;
    /* padding: 0px; */
}